* {
    outline: 1px solid red !important;
}

body {

}


h2 {
    color: white;
    text-align: center;
}

/* Nav bar */
nav {
    display: flex;
    justify-content: space-evenly;
    
}

a:link {
    color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: white;
}

/* Main */
.main_content {
    width: 70%;
    max-width: fit-content;
    /*same as -> margin-right: auto; margin-left:auto;*/
    margin-inline: auto;
    color: #ffffff;
}

.main_content .projects_home .project_tech {
    color: #9ca3af;
}



.projects_home {

}

/* Footer */
.footer {

}

.contacts {
    text-align: center;
}

a.linkedin {
    color: #9ca3af;
}

a.github {
    color: #9ca3af;
}

.done_time {
    color: #9ca3af;
    text-align: end;
}

.tech_stack {
    text-align: end;
}


html {
  height:100%;
}

body {
  margin:0;
}
/* Background animation */
.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #0c0c1f 50%, #000000 50%);
  bottom:0;
  left:-50%;
  opacity:.8;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

h1 {
  font-family:monospace;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}