body {

}

h1 {

}

h2 {

}

nav {
    background-color: beige;
    display: flex;
    justify-content: space-evenly;
    
}

.main_content {
    width: 70%;
    max-width: fit-content;
    /*same as -> margin-right: auto; margin-left:auto;*/
    margin-inline: auto;
    background-color: azure;
}

.projects_home {
    background-color: antiquewhite;
}
.footer {
    background-color: aliceblue;
}

.contacts {
    text-align: center;
}
.tech_stack {
    background-color: rgb(216, 231, 244);
    text-align: end;
}
.done_time {
    background-color: aquamarine;
    text-align: end;
}

